*{
    margin: 0;
    font-family: "poppins", sans-serif;
}

body{
     background-color: rgb(27, 27, 27); 
     /* overflow: hidden; */
     overflow-x: hidden;
}



.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    align-items: center;
    height: 80px;
    /* border-bottom: 1px solid white; */
}

.Melodii{
    padding-left: 30px;
    
    height: 140px;
    width: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    mix-blend-mode:screen;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 10px;
    margin-left: 20px;
}
.home{
    padding-left: 50px;
}

.home:hover{
    transform: scale(1.09);
}



.search{
    background-color: rgb(45, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    height: 50px;
    width: 350px; 
    border-radius: 50px;
    margin-left: 10px;
   transition: all 0.2s ease-in-out;
   
}

input{
    background-color: rgb(45,42,42);
    color: rgb(65, 49, 49);
    border: none;
    font-size: 1rem;
    outline: none;
  
    
}
.dir{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 900px;
}
.browse{
    width: 50px;
    height: 30px;
    border-left:1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
 

.explore{
    background-color: white;
    border-radius: 50px;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    font-weight: 800;
    transition: all 0.1s ease-in-out;
    color: black;
}

.explore:hover{
    transform: scale(1.09);
    background-color: #c6c3c3;
}

.install{
    padding-left: 20px;
    color: white;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.app{
    color: white;
    display: flex;
    padding-left: 15px;
    font-weight: 700;
}

.bell{
    padding-right: 40px;
}

.profile{
    border-radius: 50px;
    background-color: white;
    height: 45px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    transition: all 0.1s ease-in-out;
}

.profile:hover{
    transform: scale(1.09);
    background-color: #c6c3c3;
}

.sign-up:hover{
    transform: scale(1.09);
    background-color: #c6c3c3;
}

a{
    text-decoration: none;
}

    .sign-up{
        border-radius: 50px;
    background-color: white;
    height: 45px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 900;
    transition: all 0.1s ease-in-out;
    color: black;
    }


    .dropdown {
        /* background-color: black; */
        color: white;
        padding: 16px;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }
      
      
      .trend-dropdown {
        position: relative;
        display: inline-block;
      }
      
      
      .dropdown-menu{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 15px;
        
      }
      
      .dropdown-menu a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
      }
      
      
      .dropdown-menu a:hover {background-color: #1a1818;
        border-radius: 15px;
        font-weight: 700;
        text-decoration: underline;
        color: rgb(202, 198, 198);
    }
      
      
      .trend-dropdown:hover .dropdown-menu {
        display: block;
        /* visibility: hidden; */
      }
      
      
      
      .trend-dropdown:hover .dropdown {
        
      }

      .trend{
        color: white;
        padding-top: 10px;
      }

.container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1px;
}



.music{
    margin-top: 20px;
    /* background-image: linear-gradient(rgb(65, 2, 2),rgb(26, 24, 24)); */
    height: 500px;
    width: 300px;
    color: white;
    border-radius:10px ;
  }

.music-head{
    padding-left: 10px;
}

  .img{
   border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    padding:120px;
    width: 10px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: black;
    mix-blend-mode: screen;
    /* border: 10px solid rgb(65, 2, 2); */
  }

 


      .type{
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      height: 50px;
      width:100%;
      border-radius:10px ;
      background-image: linear-gradient(rgb(65, 2, 2),rgb(26, 24, 24));
      }

.trend a{
  color: white;
  font-size: 16px;
}

.trend a:hover{
    text-decoration: underline;
    color: rgb(202, 198, 198);
}

.dropdown:hover{
    text-decoration: underline;
    color: rgb(202, 198, 198);
}

.trend a:active{
    font-weight: bolder;
}


      
.trend .now{
    text-decoration: underline;
    color: rgb(202, 198, 198);
}

.trend-head{
    color: white;
}

.trending-music{
    margin-left: 350px;
    margin-top:-240px;
}

.play-song{
    height: 40px;
    width:140px ;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    transition: all 0.2s;
}

.play-song:hover{
    background-color: #c6c3c3;
    transform: scale(1.15);
    text-decoration: underline;
}


.list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: rgb(202, 198, 198);
    margin-top: 25px;
    font-size: 0.90rem;
}

.list-head2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 180px;
    width:250px;
    padding-left: 90px;
}
      
.list-head1{
    width: 100px;
    margin-left: 15px;
}

.art{
    margin-right: 155px;
}

.song-img{
    height: 70px;
    width: 70px;
    border-radius: 12px;

    margin-top: 20px;
    background-image: url("kala\ chasama.jpeg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img1{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("badtameez\ dil.jpeg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img2{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("laila\ mai\ laila.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img3{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("kar\ gyi\ chull.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img4{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("aankh\ marey.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img5{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("abhi\ toh\ party.jpeg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img6{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("hookah.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img7{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("bom\ diggy.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img8{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("kya\ baat\ ay.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-img9{
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-top: 20px;
    background-image: url("suny\ sunnyt.jpg");
    background-size: cover;
    margin-bottom: 20px;
    margin-left:  1cqmax;
}

.song-name{
    color: white;
    margin-left: 20px;
}

.song-trend-list{
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
   
}

.artist-name{
    color: white;
    margin-left: 210px;
}

.duration{
    color:white;
    margin-left: 90px;
}

.song-name1{
    color: white;
    margin-left: 20px;
}

.artist-name1{
    color: white;
    margin-left: 225px;
}

.duration1{
    color:white;
    margin-left: 105px;
}

.song-name2{
    color: white;
    margin-left: 20px;
}



.artist-name2{
    color: white;
    margin-left: 250px;
}

.duration2{
    color:white;
    margin-left: 130px;
}

.song-name3{
    color: white;
    margin-left: 20px;
}



.artist-name3{
    color: white;
    margin-left: 230px;
}

.duration3{
    color:white;
    margin-left: 100px;
}

.song-name4{
    color: white;
    margin-left: 20px;
}



.artist-name4{
    color: white;
    margin-left: 230px;
}

.duration4{
    color:white;
    margin-left: 80px;
}

.song-name5{
    color: white;
    margin-left: 20px;
}



.artist-name5{
    color: white;
    margin-left: 135px;
}

.duration5{
    color:white;
    margin-left: 125px;
}

.song-name6{
    color: white;
    margin-left: 20px;
}



.artist-name6{
    color: white;
    margin-left: 235px;
}

.duration6{
    color:white;
    margin-left: 70px;
}

.song-name7{
    color: white;
    margin-left: 20px;
}



.artist-name7{
    color: white;
    margin-left: 200px;
}

.duration7{
    color:white;
    margin-left: 75px;
}

.song-name8{
    color: white;
    margin-left: 20px;
}


.artist-name8{
    color: white;
    margin-left: 265px;
}

.duration8{
    color:white;
    margin-left: 100px;
}

.song-name9{
    color: white;
    margin-left: 20px;
}


.artist-name9{
    color: white;
    margin-left: 235px;
}

.duration9{
    color:white;
    margin-left: 35px;
}

.song-trend-list{
   transition: all 0.3s ease-in-out;
}

/* .song-trend-list:hover{
    border: 1px solid white;
    transform: scale(1.05);
    box-shadow: #c6c3c3;
} */

.artist-name:hover{
    text-decoration: underline;
}

.artist-name1:hover{
    text-decoration: underline;
}

.artist-name2:hover{
    text-decoration: underline;
}

.artist-name3:hover{
    text-decoration: underline;
}

.artist-name4:hover{
    text-decoration: underline;
}

.artist-name5:hover{
    text-decoration: underline;
}

.artist-name6:hover{
    text-decoration: underline;
}

.artist-name7:hover{
    text-decoration: underline;
}

.artist-name8:hover{
    text-decoration: underline;
}

.song-name:hover{
    text-decoration: underline;
}

.song-name1:hover{
    text-decoration: underline;
}

.song-name2:hover{
    text-decoration: underline;
}

.song-name3:hover{
    text-decoration: underline;
}

.song-name4:hover{
    text-decoration: underline;
}

.song-name5:hover{
    text-decoration: underline;
}

.song-name6:hover{
    text-decoration: underline;
}

.song-name7:hover{
    text-decoration: underline;
}

.song-name8:hover{
    text-decoration: underline;
}

.song-name9:hover{
    text-decoration: underline;
}

.play-hover a{
    display: flex;
    justify-content: center;
    margin-top: 22px;
    visibility: hidden;
    /* margin-left: 6px; */
}

.song-trend-list:hover a{
    visibility: visible;
    
}

.song-trend-list:hover{
    
    background-color: rgb(37, 37, 37);
}

.add-playlist{
    padding-left: 50px;
}

.add-playlist button{
    border: none;
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.add-playlist {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .add-playlist .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(152, 152, 152);
    color:white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 80%;
    margin-left: -60px;
  }
  
  .add-playlist .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(152, 152, 152) transparent;
  }
  
  .add-playlist:hover .tooltiptext {
    visibility: visible;
  }

  .playtrack-img img{
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 10px;
    /* border: 1px solid white; */
}

.playtrack-img{
    display: flex;
}

.playtrack-name{
    margin-top: 25px;
    color: white;
}


    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 600px;
    margin-top: -90px;
    }
    
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 15px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
    }
    
    /* Change the opacity when mouse is hovered */
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    /* Define the slider width so that it scales properly */
    .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: 470px;
    }
    
    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background:rgb(189, 13, 13);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    }
    
    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    }

    .current-time{
        color: white;
    }

    .total-duration{
        color: white;
    }
    
.play{
    color: black;
}




    /* Change the opacity when mouse is hovered */
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
    /* Change the mouse cursor to a pointer
    when hovered over */
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward {
    cursor: pointer;
    }
    
    
    
   

    .song-bottom {
    height: 90px;
    background-color: rgb(27, 27, 27);
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5); /* Add shadow for visibility */
    transition: all 0.3s ease-in-out;
    margin-top: 100px; /* Remove any margin */
    padding: 0; /* Remove any padding */

    }
    

    .scroll{
        overflow-y: scroll;
        height: 400px;
}

.scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

    